.navbar {
	border-radius: 0;
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 50px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-nav > li{
	padding-left: 35px;
	padding-right: 35px;
}

body {
    text-align: center;
}

.content-container {
	float: center;
	color: #666;
	font-size: 13pt;
	width: 34%;
}